/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: #0f293d;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    color: #db6356;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  .cd-img-replace {
    /* replace text with image */
    color: transparent;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
  }

  .text-center {
    text-align: center
  }

  .text-left {
    text-align: left
  }
  
  .text-right {
    text-align: right
  }

  .flex {
    display: -ms-flexbox;
    display: flex
  }
  
  .inline-flex {
    display: -ms-inline-flexbox;
    display: inline-flex
  }
  
  .flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  
  .flex-column {
    -ms-flex-direction: column;
    flex-direction: column
  }
  
  .flex-row {
    -ms-flex-direction: row;
    flex-direction: row
  }
  
  .flex-center {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
  }

  .justify-start {
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  
  .justify-end {
    -ms-flex-pack: end;
    justify-content: flex-end
  }
  
  .justify-center {
    -ms-flex-pack: center;
    justify-content: center
  }
  
  .justify-between {
    -ms-flex-pack: justify;
    justify-content: space-between
  }

  .items-center {
    -ms-flex-align: center;
    align-items: center
  }
  
  .items-start {
    -ms-flex-align: start;
    align-items: flex-start
  }
  
  .items-end {
    -ms-flex-align: end;
    align-items: flex-end
  }

  .cd-bib p {
    color: aliceblue;
    line-height: 2;
    padding: 10px;
    margin: 2em;
    margin-bottom: 1em;
  }